.App {
  font-family: "Open Sans";
  text-align: center;
}

h1 {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: bolder;
}

body {
  color: rgb(80, 80, 80);
  background-color: rgb(250, 250, 250);
  margin: 0;
}
